extends ../base.pug

block content
        h4 Change Title of video
        form(method="POST" enctype="multipart/form-data")
          label(for="video") 
          input(type="file", id="video", name="video", accept="video/*", required)
          input(name="title", placeholder="Video Title", value=video.title, required)
          input(name="description", placeholder="Description", value=video.description, required)
          input(name="hashtags", placeholder="Hashtags", value=video.hashtags.join(), required)
          input(value="Save", type="submit")