extends base.pug    

block content
    if error 
        span=error 
    form(method="POST") 
        input(type="text" name="title" placeholder="Title" required maxLength="80")
        input(type="text" name="description" placeholder="Description" required minLength="20")
        input(type="text" name="hashtags" placeholder="Hashtags saperated by comma" required)
        input(type="submit" value="upload video")